*{
	margin:0px;
	box-sizing:border-box;
	padding:0px;
}
.div0{
	background-color: #0000a8;
	width:93.75vw;
	color: white;
}
.div0>ul{
	list-style: none;
	
	display: flex;
}
.div1{
	background-image: linear-gradient(#0000a8, #000048);
	width:93.75vw;
	padding-bottom: 150px;
}
.div1> .first{
	color:white;
	font-size:70px;
}

.div1>.first> p{
	color:white;

}
.div1>.first>span{
	color:deeppink;
	font-size:20px;

}
.div1 >.first>button{
	color:white;
	background-color:deeppink;
	border:none;
	padding: 20px;
}
.div2{
	background-image: linear-gradient(#0000a8, #000048);
	width:93.75vw;
	padding-bottom: 150px;
}

.div2>p{
	color:white;
	font-size:30px;
	text-align:center;
	padding: 30px;
}
.div2>.first{
	display:flex;
	padding: 20px 100px;
}
.div2 >.first img{
	width: 350px;
}
.div2>.first>div{
	color:white;
}

.div2>.first p{
	padding: 5px;
	font-size:17px ;
}

.div3{
	background-color:#0000a8;
	width:93.75vw;
	padding-bottom: 150px;
}
.div3>.first{
	color:white;
	
	text-align:center;
	/* float: left; */
	/* position: absolute; */
	/* left: 100px; */
}

.p1{
	font-size:30px;
}
.div3>.first> img{
	height: 600px;
	width: 520px;
}
.div3>.first>button{
	color:white;
	background-color:deeppink;
	border:none;	
	padding:20px;
}
.div3>.second{
	color:white;
	display: flex;
	justify-content: space-between;
	padding: 30px;
}

.div3>.second> img{
	height: 600px;
	width: 520px;
	display: block;
}

.div3>.second>div>button{
	color:white;
	background-color:deeppink;
	border:none;
	padding:20px;

}
.div3>.third{
	color:white;
	text-align:center;
	display: flex;
	justify-content: space-between;

}
.div3>.third> img{
	height: 600px;
	width: 520px;
}
.div3>.third>div>button{
	color:white;
	background-color:deeppink;
	border:none;
	padding:20px;
}
.div4{
	background-color:#000048;
	width:93.75vw;
	padding-bottom: 150px;
}
.div4>p{
	color:white;
	font-size:30px;
	text-align:center;
	padding:50px;
	margin-bottom: 20px;
}
.div4>.first{
	display:flex;

	
}
.div4>.first>div{
	color:white;
	padding:90px;
}
.div4>.first>div>img{
	width: 300px;
}
.div4>.first>div>p{
	padding: 20px 0px;
}
.div4>.first>div>button{
	background-color:deeppink;
	border:none;	
	padding:20px;
}

.div5{
	margin-bottom:0px;
	background-color:#0000a8;
	width:93.75vw;
	text-align:center;
	color:white;
}
.div5>p{
	font-size: 30px;
	padding:50px 0px;
}
.div5>div>p{
	padding:30px;
}
.div5>div>button{
	background-color:deeppink;
	border:none;
	width:150px;
	padding:20px;
}

.div6{
	background-image: linear-gradient(#0000a8, #000048);
	width:93.75vw;
	color:white;

}
.div6>div{

	display:flex;
}

.div6>p{
	padding-top:20px;
	padding-left:35px;

}
.div6>div>ul{
	list-style: none;
}
.blank{
	width:93.75vw;
	height:15px;
	background-color:deeppink;
}